<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uhealth</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mahasiswa/feeling_sick.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mahasiswa/izin_sakit.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mahasiswa/riwayat_pemeriksaan.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/w3.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-logo">
                <p>UNIKOM Health</p>
            </div>
            <div class="header-profile">
                <img src="assets/profile.png" alt="profile picture" style="width: 50px; height: 50px; margin-right: 10px;">
                <p><%= user.nama %></p>
            </div>
        </div>
    </header>

    <div class="main-image">
        <img class="radius" src="assets/mountain.jpg" alt="mountain" style="width:96%;">
    </div>
    <div class="main-section">
        <div class="profile-card w3-round-xxlarge">
            <div class="profile-user">
                <img src="assets/profile.png" alt="profile picture" style="margin: 20px 0 0 20px;">
                <ul>
                    <li><%= user.nama %></li>
                    <li>Mahasiswa</li>
                </ul>
            </div>
            <div class="profile-info">
                <ul>
                    <li>Program Studi</li>
                    <li><%= user.program_studi %></li>
                    <li>Kelas / Tahun Masuk</li>
                    <li><%= user.kelas %> / <%= user.tahun_masuk.toISOString().slice(0,4) %></li>
                    <li>Dosen Wali</li>
                    <li><%= user.dosen_wali.nama %>, S.T, M.Kom</li>
                    <li>Email</li>
                    <li><%= user.email %></li>
                </ul>
            </div>
            <div class="button-logout">
                <form action="/auth/logout" method="post">
                    <button type="submit" class="w3-button w3-red w3-round-xlarge">Logout</button>
                </form>
            </div>
        </div>
        <div class="main-card w3-round-xxlarge">
            <nav>
                <ul>
                    <li><a class="nav-link underline" href="/mahasiswa">Dashboard</a></li>
                    <li><a class="nav-link underline" href="/mahasiswa/feeling-sick">Feeling Sick</a></li>
                    <li><a class="nav-link underline" href="/mahasiswa/izin-sakit">Izin Sakit</a></li>
                    <li><a class="nav-link underline" href="/mahasiswa/riwayat">Riwayat Pemeriksaan</a></li>
                </ul>
            </nav>
            <%- body %>
        </div>
    </div>

    <script>
        window.onload = function () {
            const paths = ['/mahasiswa', '/mahasiswa/feeling-sick', '/mahasiswa/izin-sakit', '/mahasiswa/riwayat'];
            const currentPath = window.location.pathname;

            paths.forEach(function (path) {
                if (currentPath === path) {
                    const link = document.querySelector(`a[href="${path}"]`);
                    link.classList.add('active');
                } else if (currentPath === '/mahasiswa/hasil') {
                    const link = document.querySelector(`a[href="/mahasiswa/feeling-sick"]`);
                    link.classList.add('active');
                }
            });
        }
    </script>

</body>
</html>